# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Malakal,SS,9.5334,31.6605,71.47,93,29,3.62,scattered clouds
1,1,Bredasdorp,ZA,-34.5322,20.0403,63.75,89,39,12.86,scattered clouds
2,2,Damara,CF,4.9608,18.7035,71.13,97,100,2.71,overcast clouds
3,3,Kruisfontein,ZA,-34.0033,24.7314,60.89,95,1,2.04,clear sky
4,4,Salalah,OM,17.0151,54.0924,77.09,69,0,3.44,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?  33
What is the maximum temperature you would like for your trip?  99

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)] 
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Malakal,SS,9.5334,31.6605,71.47,93,29,3.62,scattered clouds
1,1,Bredasdorp,ZA,-34.5322,20.0403,63.75,89,39,12.86,scattered clouds
2,2,Damara,CF,4.9608,18.7035,71.13,97,100,2.71,overcast clouds
3,3,Kruisfontein,ZA,-34.0033,24.7314,60.89,95,1,2.04,clear sky
4,4,Salalah,OM,17.0151,54.0924,77.09,69,0,3.44,clear sky
5,5,Ribeira Grande,PT,38.5167,-28.7000,67.77,67,96,3.00,overcast clouds
7,7,Haines Junction,CA,60.7522,-137.5108,39.15,65,84,1.14,broken clouds
8,8,Souillac,MU,-20.5167,57.5167,71.98,83,40,8.05,scattered clouds
9,9,Itarema,BR,-2.9248,-39.9167,79.30,79,49,15.50,scattered clouds
10,10,Ilorin,NG,8.5000,4.5500,80.96,74,20,0.00,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Malakal,SS,9.5334,31.6605,71.47,93,29,3.62,scattered clouds
1,1,Bredasdorp,ZA,-34.5322,20.0403,63.75,89,39,12.86,scattered clouds
2,2,Damara,CF,4.9608,18.7035,71.13,97,100,2.71,overcast clouds
3,3,Kruisfontein,ZA,-34.0033,24.7314,60.89,95,1,2.04,clear sky
4,4,Salalah,OM,17.0151,54.0924,77.09,69,0,3.44,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

           City Country  Max Temp      Lat      Lng
0       Malakal      SS     71.47   9.5334  31.6605
1    Bredasdorp      ZA     63.75 -34.5322  20.0403
2        Damara      CF     71.13   4.9608  18.7035
3  Kruisfontein      ZA     60.89 -34.0033  24.7314
4       Salalah      OM     77.09  17.0151  54.0924

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

           City Country  Max Temp      Lat      Lng Hotel Name
0       Malakal      SS     71.47   9.5334  31.6605
1    Bredasdorp      ZA     63.75 -34.5322  20.0403
2        Damara      CF     71.13   4.9608  18.7035
3  Kruisfontein      ZA     60.89 -34.0033  24.7314
4       Salalah      OM     77.09  17.0151  54.0924

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Malakal,SS,71.47,9.5334,31.6605,Nile Palace Hotel
1,Bredasdorp,ZA,63.75,-34.5322,20.0403,Bredasdorp Country Manor
2,Damara,CF,71.13,4.9608,18.7035,
3,Kruisfontein,ZA,60.89,-34.0033,24.7314,Oyster Bay House Rental
4,Salalah,OM,77.09,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Malakal,SS,71.47,9.5334,31.6605,Nile Palace Hotel
1,Bredasdorp,ZA,63.75,-34.5322,20.0403,Bredasdorp Country Manor
2,Damara,CF,71.13,4.9608,18.7035,
3,Kruisfontein,ZA,60.89,-34.0033,24.7314,Oyster Bay House Rental
4,Salalah,OM,77.09,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv(../"WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [14]:
# Set the file name.
output_data_file = "./WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [19]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [20]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Nile Palace Hotel</dd>\n<dt>City</dt><dd>Malakal</dd>\n<dt>Country</dt><dd>SS</dd>\n<dt>Max Temp</dt><dd>71.47 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bredasdorp Country Manor</dd>\n<dt>City</dt><dd>Bredasdorp</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Max Temp</dt><dd>63.75 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Damara</dd>\n<dt>Country</dt><dd>CF</dd>\n<dt>Max Temp</dt><dd>71.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Oyster Bay House Rental</dd>\n<dt>City</dt><dd>Kruisfontein</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Max Temp</dt><dd>60.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel</dd>\n<dt>City</dt><dd>Salalah</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Max Temp</dt><dd>77.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Quinta da Meia Eira</dd>\n<dt>City</dt><dd>Ribeira Grande</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Max Temp</dt><dd>67.77 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Parkside Inn</dd>\n<dt>City</dt><dd>Haines Junction</dd>\n<dt>Country</dt><dd>CA</dd>\n<dt>Max Temp</dt><dd>39.15 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shanti Maurice Resort & Spa</dd>\n<dt>City</dt><dd>Souillac</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Max Temp</dt><dd>71.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sea Lounge! Bar, Club & Restaurant</dd>\n<dt>City</dt><dd>Itarema</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>79.3 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>SITY INN</dd>\n<dt>City</dt><dd>Ilorin</dd>\n<dt>Country</dt><dd>NG</dd>\n<dt>Max Temp</dt><dd>80.96 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [21]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0    9.5334   31.6605
1  -34.5322   20.0403
2    4.9608   18.7035
3  -34.0033   24.7314
4   17.0151   54.0924
5   38.5167  -28.7000
7   60.7522 -137.5108
8  -20.5167   57.5167
9   -2.9248  -39.9167
10   8.5000    4.5500

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [23]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))